$neutral-50: #F9FAFB;
$neutral-100: #F3F4F6;
$neutral-200: #E5E7EB;
$neutral-300: #D1D5DB;
$neutral-400: #9CA3AF;
$neutral-500: #6B7280;
$neutral-600: #4B5563;
$neutral-700: #374151;
$neutral-800: #1F2937;
$neutral-900: #111827;

$emerald-50: #DDF7E7;
$emerald-300: #BBF0CE;
$emerald-500: #77E19D;
$emerald-700: #59A976;
$emerald-900: #3B704F;

$navy-50: #E5E6EC;
$navy-300: #B0B4C6;
$navy-500: #61698C;
$navy-700: #2C3766;
$navy-900: #21294D;

$turquoise-50: #D2F3F5;
$turquoise-300: #8DE1E7;
$turquoise-500: #49CFD8;
$turquoise-700: #379BA2;
$turquoise-900: #1B4E51;

$white: #FFFFFF;
$black: #000000;